<div class='field checkbox' id='show-wholesale-option'>
  <label>
    <%= f.check_box :wholesale_eq, { :style => "vertical-align:middle;" } %>
    <%= Spree.t(:show_only_wholesale_orders) %>
  </label>
</div>
